.marketing-project {
  display: flex;
  align-items: center;
  gap: 24px;

  width: fit-content;
}

.marketing-project-image {
  width: 236px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e8e8e8;
  border: 1px solid #777;
  border-radius: 10px;

  overflow: hidden;
}

.marketing-project span {
  font-size: 16px;
}

.marketing-project:hover {
  opacity: 0.7;
}