.trafego-pago {
  width: min(1200px, calc(100% - 40px));
  margin: 0 auto;
  padding: 60px 0;
}

.trafego-pago > h1 {
  text-align: center;
  margin-bottom: 50px;
}

.trafego-grafico {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: #e8e8e8;
}

.trafego-texto {
  margin-top: 80px;
}

.trafego-texto p {
  max-width: 800px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.contact-button {
  display: inline-block;

  margin-top: 30px;
  padding: 15px 28px;

  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
  font-size: 14px;
  text-decoration: none;
}

.trafego-contato:hover {
  opacity: 0.7;
}